# 数据库配置
DB_HOST=your_host
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=your_password
DB_DATABASE=your_database
DB_SYNCHRONIZE=false
DB_LOGGING=error

# 应用配置
PORT=your_port
NODE_ENV=development

# OSS 配置
OSS_REGION=your_region
OSS_ACCESS_KEY_ID=your_access_key_id
OSS_ACCESS_KEY_SECRET=your_access_key_secret
OSS_BUCKET=your_bucket
